<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/css/index.css" rel="stylesheet">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <% if(loggedIn) {%>
            <a href="/logout">logout</a>
        <%}else{%>
        <a href="/login">login</a>
        <a href="/signup">signup</a>
        <%}%>
        
    </nav>
    <h1 id="head">chat app</h1>
    <div class="msg-area">
        <div>
            <% if(loggedIn) {%>
                <% user.forEach((data)=> { %>
                    <% if(data._id!=id){ %>
                    <li  class="users" data-id="<%=data._id%>"><%=data.firstname+"  "+data.lastname%></li>
                    <%}%>
                 <%})%>
            <%}%>
            
        </div>
        <div>
            <% if(loggedIn) {%>
            <div id="msg-box">
    
            </div>
            <input type="text" id="message-input" placeholder="Type your message here" />
            <button id="send-message-button">Send Message</button>
            <%}%>
        </div>
    </div>
    


<script src="/js/script.js"></script>
</body>
</html>