.signupbox{
    height: 29em;
    width: 20em;
    margin: auto;
    margin-top: 20vh;
    box-shadow: 0 0 18px 5px #151515;
    border-style: none;
    padding-left: 2%;
    padding-top: 2%;
}
.signup-form{
    padding-left: 8%;
    padding-top: 2%;
}
.signup-body{
    background-color: rgb(27, 29, 27);
}

.signupfname,.signuplname,.signuppassword,.signupemail{
    display: block;
    width: 80%;
    outline: none;
    padding: 0 0 0 10px;
    border-radius: 10px;
    background-color: rgb(170 180 170);
    margin: 7% 0 0 0%;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    height: 36px;

}
::placeholder{
  color: black;
}
.signup-btn,.login-btn{
    width: 81%;
    outline: none;
    padding : 10px  0px 10px 7px; 
    border-radius: 10px;
    background-color: rgb(170 180 170);
    margin:12% 0 0 1%;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    font-weight: 600;
}
.signuphead{
    color: rgb(170 180 170);
    margin:2% 0 10% 29%;
    font-size: 1.6em;
    font-family: "Open Sans", sans-serif;
}
.loginbox {
    height: 23em;
    width: 20em;
    margin: auto;
    margin-top: 22vh;
    /* margin-top: 12%; */
    box-shadow: 0 0 18px 5px #151515;
    border-style: none;
    padding-left: 2%;
    padding-top: 2%;
}

.login-form{
    padding-left: 7%;
    padding-top: 2%;
}
.login-body{
    background-color: rgb(27, 29, 27);
   
}

.loginname,.loginpassword{
    display:block;
    width: 80%;
    outline: none;
    padding : 10px  0px 10px 7px; 
    border-radius: 10px;
    background-color: rgb(121 129 121);
    margin:7% 0 0 0%;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;

}
::placeholder{
  color: black;
}
.loginname, .loginpassword {
    display: block;
    width: 80%;
    outline: none;
    padding: 0 0 0 10px;
    border-radius: 10px;
    background-color: rgb(170 180 170);
    margin: 7% 0 0 0%;
    border-style: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    height: 36px;
}
.loginhead{
    color: rgb(170 180 170);
    margin:2% 0 14% 30%;
    font-size: 1.6em;
    font-family: "Open Sans", sans-serif;
}
.msg-area{
    display: flex;
    justify-content: space-between;
}
.users{
    cursor: pointer;
    border: 1px solid black;
    padding: 10px 20px 10px 20px;

}

#usernotify{
    display: block;
}

.notification-bubble {
    background-color: red;
    color: white;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}